
*{
  padding: 0px;
  margin: 0px;
}

body{
  background-color: #272727;
  color: #ededed;
  font-size: 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  }

h1{
  color: #82B5BE;
  font-size: 45px;
  font-family: helvetica;
  font-weight: 400;
  letter-spacing: 3px;
}

/* Loading side */

.grid-container {
  display: grid;
  grid-template-columns: 0.4fr 2.2fr 0.4fr;
  grid-template-rows: 0.9fr 2fr 0.8fr 0.5fr 0.8fr;
  grid-template-areas: "leftspace topspace rightspace" "leftspace logo rightspace" "leftspace Space rightspace" "leftspace Loading rightspace" "leftspace Bottomspace rightspace";
}

.leftspace { grid-area: leftspace; }

.rightspace { grid-area: rightspace; }

.topspace { grid-area: topspace; }

.Space { grid-area: Space; }

.Loading {
  grid-area: Loading;
  background-color: #353d40;
  min-height: 15px;
  width: 100%;
}

.Bottomspace { grid-area: Bottomspace; }

.logo { grid-area: logo; }


/*Sign up site */

.grid-container {
  display: grid;
  grid-template-columns: 0.4fr 2.2fr 0.4fr;
  grid-template-rows: 0.3fr 2.5fr 0.2fr;
  grid-template-areas: "leftspace1 topspace1 rightspace1" "leftspace1 main1 rightspace1" "leftspace1 bottomspace1 rightspace1";
}

.leftspace1 { grid-area: leftspace1; }

.rightspace1 { grid-area: rightspace1; }

.topspace1 { grid-area: topspace1; }

.main1 { grid-area: main1; }

form input{

  color:  #a0a0a0;
  font-size: 15px;
  font-family: "montserrat";
  background-color: #363636;
  border-color: #848484;
  border-style: solid;
  border-width: thin;
  border-radius: 28px;
  radius: 50%;
  width: 100%;
  height: 30px;

}

p {
  color:  #848484;
  font-size: 13px;
  font-family: "montserrat";
  text-align: right;
  padding-top: 10px;
}

button{
  color:  #000;
  font-size: 15px;
  font-family: "montserrat";
  background-color: #82B5BE;
  border-color: #82b5be;
  border-style: solid;
  border-width: thin;
  border-radius: 28px;
  radius: 50%;
  width: 30%;
  height: 30px;
  text-align: center;
  margin-left: 193px;
  margin-top: 60px;

}

.bottomspace1 { grid-area: bottomspace1; }


/*media query, phone size Iphone8 */

  @media only screen and (max-width: 667px) {
    /*alt samme style skal ind her*/
  }
