
*{
  padding: 0px;
  margin: 0px;
}

body{
  background-color: #272727;
  color: #ededed;
  font-size: 15px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  }

main{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  min-height: 94vh;
  width: 90%;
}

h1{
  color: #82B5BE;
  font-size: 45px;
  font-family: helvetica;
  font-weight: 400;
  letter-spacing: 3px;
}

/*loading*/

.load-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 1.6fr 0.8fr 0.25fr 0.75fr;
  grid-template-areas: "spacetop" "logo" "spacemiddel" "loading" "spacebottom";
}

.spacetop { grid-area: spacetop; }
.logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
}

.spacemiddel { grid-area: spacemiddel; }
.loading {
  grid-area: loading;
  background-color: #353D40;
  min-height: 10px;
  width: 100%;
  border-radius: 30px;
  -webkit-box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.16);
  box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.16);
  }

.spacebottom { grid-area: spacebottom; }

/*sign up*/

.help{
  display:flex;
  justify-content: center;
  position: absolute;
  right: 0;
  min-height: 50px;
  width: 20%;
}

.logosmall{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.overskrift{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  min-height:80px;
  padding-bottom: 25px;
}

/* input*/

.input{
  display: flex;
  flex-direction: column;
  min-height: 50px;
  width: 100%;
}

input{
  width: 93%;
  background-color: #363636;
  border: 1px solid #848484;
  color: #EDEDED;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  margin-bottom: 25px;
  border-radius: 30px;
  -webkit-box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.16);
  box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.16);
}

.member{
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #82B5BE;
  display: flex;
  justify-content: flex-end;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  width: 60px;
}

button{
  color:  #000;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  background-color: #82B5BE;
  border-color: #82b5be;
  border-style: solid;
  border-width: thin;
  border-radius: 28px;
  radius: 50%;
  width: 30%;
  height: 30px;
  text-align: center;
  margin-left: 193px;
  margin-top: 60px;
}

/*Headline*/
h1{
  font-family: helvetica, sans-serif;
  font-size: 45px;
  color: #82B5BE;
}

/*img*/
.logo img{
  width: 70%;
  height: 70%;
}

/*media query, phone size Iphone8 */

  @media only screen and (max-width: 667px) {
    /*alt samme style skal ind her*/
  }
