
*{
  padding: 0px;
  margin: 0px;
}

body{
  background-color: #272727;
  color: #ededed;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  }

main{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  min-height: 94vh;
  width: 85%;
}

/*navigation*/

nav{
	width:80%;
  z-index: 0;
}

nav-links nav-active{
  z-index:0;
}

.burger{
	display:none;
	cursor:pointer;
	width:80%;
}

.burger div:hover{
	cursor:pointer;
	background-color:#82B5BE;
}

.burger div{
	transition:all 0.3s ease;
}

.nav-links a:hover{
	font-weight:normal;
}

.profil-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  width: 90%;
}

.button-edit{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
  margin-bottom: 5%;
  width: 90%;
}

.button-edit button{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:#E6B81C;
  padding: 5px;
  width: 20%;
  color: #fff;
  border-radius: 30px;
  box-shadow: 0 0 0 3px rgba(49, 82, 92, .5);
}

.settings-container{
  display: flex;
  justify-content: flex-start;
  margin-left: 4%;
  width: 85%;
  height: 100px;
  flex-direction: column;
}

.settings{
  display: flex;
  justify-content: flex-start;
  margin-top: 0%;
  padding-bottom: 4%;
  border-bottom: 1px solid #EDEDED;
  width: 85%;
  font-size: 15px;
}

.settings-info{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin-top: 5%;
  width: 100%;
  font-size: 15px;
}

.settings-info2{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 4%;
  width: 100%;
  font-size: 15px;
}

.settings-info img{
  width: 18%;
  margin-left: 35%;
}

.menu-container{
  display: flex;
  justify-content: center;
  margin-top: 0%;
  width: 90%;
}

.menu-billeder{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.menu-billeder img{
  margin: 8px;
}

.menu{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 76%;
  margin-left: auto;
  margin-right: auto;
}

/*----pop up----*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  font-size: 13px;
  background-color: #31525C;
  font-family: 'montserrat', sans-serif;
  min-width: 300px;
  overflow: auto;
  border: 2px solid #31525C;
  border-radius: 17px;
  box-shadow: 16px 16px 16px 16px rgba(0,0,0,0.2);
  z-index: 1;
  padding-bottom: 10px;
 
}

.dropdown-content a {
  color: white;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #31525C;}

.show {display: block;}

/*
.float-right{
  float: right;
}
.fa{
 font-size: .8em;
  line-height: 22px !important;
}
.dropdown{
   display: inline-block;
   list-style: none;
}
.dropdown label:hover, .dropdown ul li:hover{
  background-color: #31525C;
  color: white;
  cursor: pointer;
  text-decoration: none;
  line-height: 30px;
  list-style: none;
}

.dropdown label{
  color: red;
  position: relative;
  z-index: 2;
  list-style: none;
}
.dropdown input{
  display: none;
  list-style: none;
}
.dropdown input ~ ul{
  position: relative;
  visibility: hidden;
  opacity: 0;
  top: 100px;
  z-index: 1;
  list-style: none;

}
.dropdown input:checked + label{
  background-color: yellow;
  color: grey;
  list-style: none;
}

.dropdown input:checked ~ ul{
  visibility: visible;
  background-color: #31525C;
  border: 2px solid #31525C;
  border-radius: 17px;
  padding: 20px;
  opacity: 1;
  top: 10px;
  bottom: 0px;
  list-style: none;
  line-height: 35px;
}
*/
.animate{
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden; /* Chrome and Safari */
  -moz-backface-visibility:hidden; /* Firefox */
  -ms-backface-visibility:hidden; /* Internet Explorer */
}

ul .animate{
  text-decoration: none;
}

li .animate{
  text-decoration: none;
}

.sharetext{
  font-size: 10px;
  font-family: 'montserrat', sans-serif;
  line-height: 10px;
  margin-left: 30px;
}

/*loading*/

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.container-load{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
  width: 80%;
}

/* numpad function */

.mbsc-np-tbl {
    direction: ltr;
    display:table;
    width: 100%;
    font-size: 1.375em;
	border-radius: 20px;
		transform:translateY(0%);
		transition:transform 0.5s ease-in;
}

.mbsc-np-row {
    display: table-row;
}

.mbsc-ios .mbsc-np-btn:first-child {
    border-left: 0;
}

.mbsc-np-btn {
    position: relative;
    z-index: 0 !important;
    width: 33.3333333333%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 2.5em;
    -webkit-user-select: none;
	background-color:#717171;
	border:0.02px solid;
	border-color:#272727;
}

.mbsc-np-btn:focus
{
  outline: 0;
}

.mbsc-np-btn:hover
{
  background-color:#848484;
}

.mbsc-fr-w {
    position: relative;
    padding-top: 3.666667em;
    font-size: 12px;
    font-family: -apple-system, Helvetica Neue, Helvetica, Arial, 'montserrat', sans-serif;
}

.mbsc-fr {
    pointer-events: none;
    z-index: 0;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
}

@media screen and (max-width:768px)
{

ul.nav-links.nav-active{
	height: 100%;
    width: 100%;
    overflow: visible;
	position:absolute;
    border: 2px solid #272727;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
	display:flex;
	}

	nav{
		overflow-x:hidden;
	}

	.nav-links{
		position:absolute;
		left:0px;
		height:100vh;
		top:0vh;
		background-color:#31525C;
		display:flex;
		flex-direction:column;
		align-items:center;
		transform:translateX(-100%);
		transition:transform 0.5s ease-in;
		margin:0px;
		max-width:60%;
		overflow-x: hidden;
	}

	.nav-links li{
		margin:0px;
		padding:2%;
    color: #ffffff;
	}

	.nav-links a{
		padding:2%;
		height:inherit;
	}

	.burger{
		display:block;
		padding-right:6.6vh;
		overflow-y:hidden;
		width:80%;
	}


  .line1{
    width: 20px;
    background-color: #82B5BE;
    height: 2px;
    margin: 5px;
    transition: all 0.3 ease;
  }

  .line2{
    width: 12px;
    background-color: #82B5BE;
    height: 2px;
    margin: 5px;
  }

  .line3{
    width: 18px;
    background-color: #82B5BE;
    height: 2px;
    margin: 5px;
  }


	/* end of media screen 768 */

.nav-active{
	transform:translateX(0%);
}


.toggle .line1{
	transform:rotate(-45deg) translate(-4px,6px);
}

.toggle .line2{
	opacity:0;
}

.toggle .line3{
	transform:rotate(45deg) translate(-4px,-6px);
}

/*navigation færdig*/

/*sign up*/

#myProgress {
  width: 80%;
  background-color: #353D40;
  border-radius: 30px;
	margin-left:auto;
	margin-right:auto;
	min-height: 40px;
	-webkit-box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.16);
  box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.16);
	margin-top:30%;
}

#myBar {
  width: 1%;
  min-height: 40px;
  background-color: #82B5B1;
	border-radius: 30px;
}

.help{
  display:flex;
  justify-content: center;
  position: absolute;
  right: 0;
  min-height: 50px;
  width: 20%;
  margin-right: 5px;
	top:1%;
}

.logosmall{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.overskrift{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  min-height:80px;
  padding-bottom: 25px;
}

/* input*/

.input{
  display: flex;
  flex-direction: column;
  min-height: 50px;
  width: 100%;
}

input{
  width: 93%;
  background-color: #363636;
  border: 1px solid #848484;
  color: #EDEDED;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  margin-bottom: 25px;
  border-radius: 30px;
  -webkit-box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.16);
  box-shadow: 4px 2px 5px 0px rgba(0,0,0,0.16);
}

.member{
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #82B5BE;
  display: flex;
  justify-content: flex-end;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
}

button{
  color:  #000;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  background-color: #82B5BE;
  border-color: #82b5be;
  border-style: solid;
  border-width: thin;
  border-radius: 28px;
  radius: 50%;
  width: 30%;
  height: 30px;
  margin-top: 10%;
  margin-right: 29px;
  position: absolute;
  right: 0;
}

input:focus {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(49, 82, 92, .5);
}

button:focus {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(49, 82, 92, .5);
}

/*Headline*/

h1{
  color: #82B5BE;
  font-size: 45px;
  font-family: helvetica;
  font-weight: 400;
  letter-spacing: 3px;
  text-shadow: 1.5px 1.5px 1.5px #212020;
}


h2{
  font-size: 19px;
  font-family: helvetica, sans-serif;
  font-weight: 400;
}

h4{
  font-size: 17px;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  margin-top: 6%;
}

h5{
  color: #ededed;
  margin-top: 2%;
  font-size: 15px;
}

h6{
  color: #ededed;
  margin-top: 2%;
  font-size: 15px;
}
/*sign in*/

.name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

.dots{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:row;
  border-radius: 60px;
  min-height: 20px;
  background-color: #fff;
  width: 20px;
}

.container-login{
  display: flex;
  flex-flow: row;
  /*background-color: blue;*/
  width: 60%;
	margin-left:auto;
	margin-right:auto;
	margin-top:5%;
}

.form-inline {
  display: flex;
  width: 6%;
	align-items: center;
}
  #pwd {
	margin: 50%;
}
/*.form-inline label {
  margin: 5px 10px 5px 0;
}*/

.form-inline input {
  margin: 0px 0px 0px 0px;
  padding-left: 17px;
	padding-right:17px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.forgot {
	font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: #82B5BE;
  display: flex;
  justify-content: center;
	margin-top:5%;
	margin-bottom:5%;
}

/*.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.form-inline button:hover {
  background-color: royalblue;
}*/

/*forside*/
	
.container-menu{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 20px;
	align-content: center;
}

.container-kort{
  display: flex;
  flex-direction: column;
  width: 90%;
	margin-left:2%;
	margin-right:2%;
	position:relative;
	height:617px;
	
	/*
	    width: 200px;
    color:#fff;
    position: relative;
    text-align:center; */
}
	
/*
.kort-selected{
	list-style:none;
		margin-bottom:10%;
	position:relative;
  z-index:0;
}
*/
	¨/*
.kort-liste{
	    position: relative;
    list-style:none;
	padding-bottom:10%;
	padding-top:20%;
}
*/
.li-kort img{
	position:relative;
}

.li-kort{
	position: relative;
    display:block;
	background-repeat: no-repeat;
	height:193px;
	width:300px;
}

.container-kort:first-child {
	padding-bottom:10%;
}
	
/* ------ Kort ------*/
	/*
#myAnimation {
	position:relative;
	z-index:1;
	background-size:306px 193px;
	background-image:url("img/fitnessworld.svg");
	height:193px;
	width:306px;
	background-repeat: no-repeat;
}
#myAnimation2 {
	position:relative;
	z-index:1;
	background-size:306px 193px;
	background-image:url("img/rejsekort.png");
	height:193px;
	width:306px;
	background-repeat: no-repeat;
}

#select{
	z-index:0;
	background-size:306px 193px;
	background-image:url("img/fitnessworld.svg");
	background-repeat:no-repeat;
	height:450px;
	width:306px;
}

#kort0{
	z-index:0;
	background-size:306px 193px;
	background-image:url("img/rejsekort.png");
	background-repeat:no-repeat;
	height:193px;
	width:306px;

}
#kort1{
	z-index:1;
	background-size:306px 193px;
	background-image:url("img/føtex.png");
	background-repeat:no-repeat;
	height:193px;
	width:306px;
}
#kort2{
	z-index:2;
	background-size:306px 193px;
	background-image:url("img/hjem2.svg");
	background-repeat:no-repeat;
	height:450px;
	width:306px;
}
#kort3{
	z-index:3;
	background-size:306px 193px;
	background-image:url("img/hjem1.svg");
	background-repeat:no-repeat;
	height:450px;
	width:306px;
}
#kort4{
	z-index:4;
	background-size:306px 193px;
	background-image:url("img/ucl.svg");
	background-repeat:no-repeat;
	height:450px;
	width:306px;
}
#kort5{
	z-index:5;
	background-size:306px 193px;
	background-image:url("img/abtion.svg");
	background-repeat:no-repeat;
	height:450px;
	width:306px;
}

/* --------- sharekey-------*/

.fw img{
  width: 85%;
  border-radius: 24px;

}

	/*------ dropdown kort------*/
/*
.float-right{
  float: right;
}
.fa{
 font-size: .8em;
  line-height: 22px !important;
}
.dropdown{
   display: inline-block;
   list-style: none;
}
.dropdown label:hover, .dropdown ul li:hover{
  background-color: #31525C;
  color: white;
  cursor: pointer;
  text-decoration: none;
  line-height: 30px;
  list-style: none;
}

.dropdown label{
  color: red;
  position: relative;
  z-index: 2;
  list-style: none;
}
.dropdown input{
  display: none;
  list-style: none;
}
.dropdown input ~ ul{
  position: relative;
  visibility: hidden;
  opacity: 0;
  top: 100px;
  z-index: 1;
  list-style: none;

}
.dropdown input:checked + label{
  background-color: yellow;
  color: grey;
  list-style: none;
}

.dropdown input:checked ~ ul{
  visibility: visible;
  background-color: #31525C;
  border: 2px solid #31525C;
  border-radius: 17px;
  padding: 20px;
  opacity: 1;
  top: 10px;
  bottom: 0px;
  list-style: none;
  line-height: 35px;
}

	
.animate{
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
  backface-visibility:hidden;
  -webkit-backface-visibility:hidden; 
}

ul .animate{
  text-decoration: none;
}

li .animate{
  text-decoration: none;
}

}
*/
/*---------- sendkey--------*/

}
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: row;
    align-items: stretch;
  }
}

/*img*/
.logo img{
  width: 70%;
  height: 70%;
}
