
body{
  background-color: red;
  color: #fff;
  font-size: 60px;
  }

.container{
  background-color: green;
  color: #000;
  font-size: 20px;
  }

  @@media only screen and (max-width: 667px) {
    /*alt samme style skal ind her*/
  }
